__pycache__

*.py[co]
*.DS_*
# Packages
*.egg
*.egg-info
dist
build
eggs
parts
/bin/
./include
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
venv
*.pyc
build


lib
share
lib64
pyvenv.cfg

# Standard junk files
.DS_Store
*.swp
*.swo
*.pyo
*.class
*.o
*.obj
Thumbs.db
desktop.ini
*.log
.terraform
.ipynb_checkpoints
/.history/
/obj/
_build
/logs/
/log/
/tmp/
/temp/
.serverless
.expo
.expo-shared
.docusaurus
.angular
.svelte-kit
Pods
DerivedData
